@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Grilla</h1>
<div class="row">

    <div id="listings">
        <div class="channel-info">
            <img src="https://cdn.mitvstatic.com/channels/ar_disney-jr_m.png" alt="Programación Disney Junior" title="Disney Junior" width="75" height="75">
            <h1>Programación Disney Junior <span>Sábado 24 de abril</span></h1>
        </div>

        <ul class="broadcasts time24">
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_vampirina-s02e41_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">06:00</span>Vampirina</h2>
                    <span class="sub-title">Temporada 2 Episodio 41 - Trick or Treaters / Play It Again, Vee</span>
                    <p class="synopsis">
                        Cuenta la historia de una joven vampira que enfrenta las alegrías y las pruebas de ser la nueva chica en la ciudad cuando su familia se traslada de Transilvania a Pensilvania.
                    </p>
                </div>
            </div>
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_elena-de-avalor-s03e35-coronation-day_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">07:00</span>Elena de Avalor</h2>
                    <span class="sub-title">Temporada 3 Episodio 35 - Coronation Day</span>
                    <p class="synopsis">
                            El viaje de la princesa Elena comenzó hace mucho tiempo, cuando la malvada hechicera Shuriki le arrebató a sus padres y su reino. Para defender a su hermana menor y a sus abuelos, ella la enfrentó pero quedó atrapada en su amuleto mágico.
                    </p>
                </div>
            </div>
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_doctora-juguetes-s01e33-friolin-tiene-frio-1_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">08:00</span>Doctora Juguetes</h2>
                    <span class="sub-title">Temporada 1 Episodio 33 - Friolín tiene frío</span>
                    <p class="synopsis">
                        La doctora le enseña a Friolín y al resto de los juguetes sobre la importancia de permanecer caliente mientras juegan bajo la nieve.
                    </p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_vete-ya-unicornio-s01e39_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">09:00</span>¡Vete ya, Unicornio!</h2>
                    <span class="sub-title">Temporada 1 Episodio 39 - Buzz Off, Unicorn!</span>
                    <p class="synopsis">Cuando Alice encuentra una colmena en su patio trasero, insta a Unicornio a darle una oportunidad a las abejas, pero cuando lo hace, se convierte en su nueva abeja reina.</p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_pj-masks-heroes-en-pijamas-s01e23-ululette-y-la-flor-lunar-gecko-en-camara-lenta_l_m.jpg"> </div>
                </div>
                <div class="col">

                    <h2><span class="time">11:00</span>PJ Masks: héroes en pijamas</h2>
                    <span class="sub-title">Temporada 1 Episodio 23 - Ululette y la flor lunar / Gecko en cámara lenta</span>
                    <p class="synopsis">Gatuno, Buhíta y Gekko, tres niños de seis años que llevan vidas normales durante el día, por la noche activan sus pulseras que se vinculan a sus pijamas y se convierten en superhéroes.	</p></p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_mickey-aventuras-sobre-ruedas-s02e49_l_m.jpg"> </div>
                </div>
                <div class="col">

                    <h2><span class="time">13:00</span>Mickey: aventuras sobre ruedas</h2>
                    <span class="sub-title">Temporada 2 Episodio 49</span>
                    <p class="synopsis">Mickey y su pandilla, subidos a sus vehículos personalizados, se embarcan en un sinfín de aventuras y travesuras mientras participan de emocionantes carreras tanto en su ciudad, Hot Dog Hills, como alrededor del mundo.</p></p>
                </div>
            </div>

        </ul>

        <div style="clear: both"></div>
    </div>
</div>