
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Grilla</h1>
<div class="row">

    <div id="listings">
        <div class="channel-info">
            <img src="https://cdn.mitvstatic.com/channels/ar_disney_m.png" alt="Programación Disney Channel" title="Disney Channel" width="75" height="75">
            <h1>Programación Disney Channel <span>Sábado 24 de abril</span></h1>
        </div>

        <ul class="broadcasts time24">
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_los-7e-s02e39-juego-de-grunones-los-7e-y-la-bestia_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">06:00</span>Los 7E</h2>
                    <span class="sub-title">Temporada 2 Episodio 39 - Juego de Gruñones / Los 7E y la bestia</span>
                    <p class="synopsis">En la reunión de su familia, Gruñón es aclamado como un héroe y como el líder de los 7E. / Doc y la pandilla resuelven el misterio de la desaparecida baronesa Bombón.</p>
                </div>
            </div>
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_star-vs-las-fuerzas-del-mal-s03e81-desairada_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">07:00</span>Star vs. Las fuerzas del mal</h2>
                    <span class="sub-title">Temporada 3 Episodio 81 - Desairada</span>
                    <p class="synopsis">Tom ofende a Star en el Baile de la Campana de Plata.</p>
                </div>
            </div>
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_cortos-mickey-mouse-s02e13_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">08:00</span>Cortos Mickey Mouse</h2>
                    <span class="sub-title">Temporada 2 Episodio 13 - Goofy's First Love</span>
                    <p class="synopsis">Goofy se ha enamorado, por lo que depende de Mickey y Donald ayudarlo a estar presentable.</p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_vete-ya-unicornio-s01e39_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">09:00</span>¡Vete ya, Unicornio!</h2>
                    <span class="sub-title">Temporada 1 Episodio 39 - Buzz Off, Unicorn!</span>
                    <p class="synopsis">Cuando Alice encuentra una colmena en su patio trasero, insta a Unicornio a darle una oportunidad a las abejas, pero cuando lo hace, se convierte en su nueva abeja reina.</p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_prodigiosa-las-aventuras-de-ladybug-s03e10-oblivio_l_m.jpg"> </div>
                </div>
                <div class="col">
                    
                    <h2><span class="time">11:00</span>Prodigiosa: las aventuras de Ladybug</h2>
                    <span class="sub-title">Temporada 1 Episodio 39 - Buzz Off, Unicorn!</span>
                    <p class="synopsis">Cuando Alice encuentra una colmena en su patio trasero, insta a Unicornio a darle una oportunidad a las abejas, pero cuando lo hace, se convierte en su nueva abeja reina.</p></p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_prodigiosa-las-aventuras-de-ladybug-s01e09-rogercop_l_m.jpg"> </div>
                </div>
                <div class="col">
                    
                    <h2><span class="time">13:00</span>Prodigiosa: las aventuras de Ladybug</h2>
                    <span class="sub-title">Temporada 1 Episodio 9 - Rogercop</span>
                    <p class="synopsis">El padre de Sabrina, un oficial de policía, es akumatizado por Hawk Moth. Transformado en Rogercop, trata de establecer un gobierno autoritario en Paris.</p></p>
                </div>
            </div>

        </ul>

        <div style="clear: both"></div>
    </div>
</div>