@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Grilla</h1>
<div class="row">

    <div id="listings">
        <div class="channel-info">
            <img src="https://cdn.mitvstatic.com/channels/ar_disney-xd_m.png" alt="Programación Disney XD" title="Disney XD" width="75" height="75">
            <h1>Programación Disney XD <span>Sábado 24 de abril</span></h1>
        </div>

        <ul class="broadcasts time24">
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_grandes-heroes-la-serie-s02e42_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">06:00</span>LGrandes héroes: la serie</h2>
                    <span class="sub-title">Temporada 2 Episodio 42</span>
                    <p class="synopsis">
                        La serie continúa con las aventuras y amistad entre Hiro, el genio de la tecnología de catorce años, y Baymax, su compasivo robot de última generación. Están acompañados por Wasabi, la científica Honey Lemon y el absurdo Go Go.
                    </p>
                </div>
            </div>
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_gusano-del-futuro-s01e15_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">07:00</span>Gusano del futuro</h2>
                    <span class="sub-title">Temporada 1 Episodio 15 - Egg in the Family / The Right to Bear Arms / This Week in Future Science 2</span>
                    <p class="synopsis">
                        Ruby y Paco "cuidan" un huevo para un proyecto de clase./ A Fyootch le crecen brazos falsos para participar en un concurso de lucha libre./ Brad y Rad diseñan genéticamente un cangrejo herradura.</p>
                </div>
            </div>
            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_cortos-mickey-mouse-s02e13_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">08:00</span>Cortos Mickey Mouse</h2>
                    <span class="sub-title">Temporada 2 Episodio 13 - Goofy's First Love</span>
                    <p class="synopsis">Goofy se ha enamorado, por lo que depende de Mickey y Donald ayudarlo a estar presentable.</p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_phineas-y-ferb-s01e06-invierano_l_m.jpg"> </div>
                </div>
                <div class="col">
                    <h2><span class="time">09:00</span>Phineas y Ferb</h2>
                    <span class="sub-title">Temporada 1 Episodio 6 - Invierano</span>
                    <p class="synopsis">
                        Es invierno en pleno verano cuando los chicos crean una montaña de nieve y tienen toneladas de fría diversión en el jardín.
                    </p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_galaxia-wander-s01e36-los-amigos_l_m.jpg"> </div>
                </div>
                <div class="col">

                    <h2><span class="time">11:00</span>Galaxia Wander</h2>
                    <span class="sub-title">Temporada 1 Episodio 36 - Los amigos</span>
                    <p class="synopsis">    El intento de Lord Hater de enviar a Wander a la dimensión de su prisión fracasa.</p>
                </div>
            </div>

            <div class="row caja">
                <div class="col">
                    <div class="image"> <img src="https://cdn.mitvstatic.com/programs/ar_el-viaje-fantastico-de-robby-y-toby-2016_l_m.jpg"> </div>
                </div>
                <div class="col">

                    <h2><span class="time">13:00</span>	El viaje fantástico de Robby y Toby</h2>
                    <span class="sub-title">Temporada 1 Episodio 9 - Rogercop</span>
                    <p class="synopsis">
                            Robbi y Tobbi no son unos amigos del todo normales, ya que Tobbi es un robot. Para un viaje repleto de aventuras construirán el Fliewatüüt, el vehículo perfecto para tierra, mar y aire.
                    </p>
                </div>
            </div>

        </ul>

        <div style="clear: both"></div>
    </div>
</div>